################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/StockTrackingSystem/.vs/StockTrackingSystem/FileContentIndex
